@{
    ViewBag.Title = "Home Page";
}

<div id="frame">
    <div id="header">Chat <span class="pull-right">...</span></div>
    <div id="body">
        <iframe id="chat" src='https://webchat.botframework.com/embed/athena-chatbot?s=XKxYHvOEYw0.cwA.ELw.a8WbThBI3UyJQlQrW2O2LYW0xLuJ7cfpWKNZwlda5Qk'></iframe>
    </div>
</div>


<script type="text/javascript">


    $(function () {
        $("#header").click(function () {

            $(".wc-header").hide();

            if ($("#body").is(":visible"))
                $("#body").slideUp();
            else
                $("#body").slideDown();

        })

    })

</script>